<h1>New Shortened Link</h1>

<%= form_for @shortened_link do |form| %>
  <% if @shortened_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shortened_link.errors.count, "error") %> prohibited this shortened_link from being saved:</h2>

      <ul>
      <% @shortened_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :original_url %>
    <%= form.text_area :original_url, size: "120x4" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


