<p id="notice"><%= notice %></p>

<p>
  <strong>Original Link:</strong>
  <%= @shortened_link.original_url %>
</p>

<p>
  <strong>Short Link:</strong>
  <%= 'http://localhost:3000/s/' + @shortened_link.short_url_slug %>
</p>

<p>
  <strong>Visits:</strong>
  <%= @shortened_link.visit_count %>
</p>

<%= link_to 'Edit this Link', edit_shortened_link_path(@shortened_link) %> |
<%= link_to 'Manage Links', shortened_links_path %>

